In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./Raw_SV_ALL.csv', sep='\t')

In [3]:
data.columns

Index(['Key', 'Name', 'Source', 'dbSNP', 'Type', 'Chr1', 'Pos1', 'Chr2',
       'Pos2', 'Qual1', 'Qual2', 'AF1', 'AF2', 'Read1', 'Read2', 'Gene',
       'Consequence', 'Impact', 'Ref1', 'Alt1', 'Ref2', 'Alt2'],
      dtype='object')

# ATRX Analysis

## Promoter Region

In [9]:
chromosome = 'chrX'
start = 77039702
# start = 3606226 # for testing
end = 77043702

In [10]:
data1 = data[(data['Chr1']==chromosome)]
data2 = data[(data['Chr2']==chromosome)]

In [11]:
print(data1.shape)
print(data2.shape)

(11559, 22)
(16417, 22)

No mutation from GRIDSS for the promoter region

In [12]:
# we check if there is any overlap at all
data1[(data1['Pos1'].str.split('-').map(lambda x: float(x[0])) <= start)
      &
      (start <= (data1['Pos1'].str.split('-').map(lambda x: float(x[1]))))
     |
     (data1['Pos1'].str.split('-').map(lambda x: float(x[0])) <= end)
      &
      (end <= (data1['Pos1'].str.split('-').map(lambda x: float(x[1]))))
     ]

Empty DataFrame
Columns: [Key, Name, Source, dbSNP, Type, Chr1, Pos1, Chr2, Pos2, Qual1, Qual2, AF1, AF2, Read1, Read2, Gene, Consequence, Impact, Ref1, Alt1, Ref2, Alt2]
Index: []

[0 rows x 22 columns]

In [13]:
# we check if there is any overlap at all
data2[(data2['Pos2'].str.split('-').map(lambda x: float(x[0])) <= start)
      &
      (start <= (data2['Pos2'].str.split('-').map(lambda x: float(x[1]))))
     |
     (data2['Pos2'].str.split('-').map(lambda x: float(x[0])) <= end)
      &
      (end <= (data2['Pos2'].str.split('-').map(lambda x: float(x[1]))))]

Empty DataFrame
Columns: [Key, Name, Source, dbSNP, Type, Chr1, Pos1, Chr2, Pos2, Qual1, Qual2, AF1, AF2, Read1, Read2, Gene, Consequence, Impact, Ref1, Alt1, Ref2, Alt2]
Index: []

[0 rows x 22 columns]

## TF<sub>ATRX</sub> analysis

### EGR1

In [14]:
chromosome = 'chr5'
start = 137799181.
end = 137807004.

In [15]:
data1 = data[(data['Chr1']==chromosome)]
data2 = data[(data['Chr2']==chromosome)]

In [16]:
print(data1.shape)
print(data2.shape)

(33747, 22)
(31497, 22)

No mutation from GRIDSS for the EGR1

In [17]:
# we check if there is any overlap at all
data1[(data1['Pos1'].str.split('-').map(lambda x: float(x[0])) <= start)
      &
      (start <= (data1['Pos1'].str.split('-').map(lambda x: float(x[1]))))
     |
     (data1['Pos1'].str.split('-').map(lambda x: float(x[0])) <= end)
      &
      (end <= (data1['Pos1'].str.split('-').map(lambda x: float(x[1]))))
     ]

Empty DataFrame
Columns: [Key, Name, Source, dbSNP, Type, Chr1, Pos1, Chr2, Pos2, Qual1, Qual2, AF1, AF2, Read1, Read2, Gene, Consequence, Impact, Ref1, Alt1, Ref2, Alt2]
Index: []

[0 rows x 22 columns]

In [18]:
# we check if there is any overlap at all
data2[(data2['Pos2'].str.split('-').map(lambda x: float(x[0])) <= start)
      &
      (start <= (data2['Pos2'].str.split('-').map(lambda x: float(x[1]))))
     |
     (data2['Pos2'].str.split('-').map(lambda x: float(x[0])) <= end)
      &
      (end <= (data2['Pos2'].str.split('-').map(lambda x: float(x[1]))))]

Empty DataFrame
Columns: [Key, Name, Source, dbSNP, Type, Chr1, Pos1, Chr2, Pos2, Qual1, Qual2, AF1, AF2, Read1, Read2, Gene, Consequence, Impact, Ref1, Alt1, Ref2, Alt2]
Index: []

[0 rows x 22 columns]

### HOXA9

In [19]:
chromosome = 'chr7'
start = 27200057.
end = 27207149.

In [20]:
data1 = data[(data['Chr1']==chromosome)]
data2 = data[(data['Chr2']==chromosome)]

In [21]:
print(data1.shape)
print(data2.shape)

(31821, 22)
(29843, 22)

No mutation from GRIDSS for HOXA9

In [22]:
# we check if there is any overlap at all
data1[(data1['Pos1'].str.split('-').map(lambda x: float(x[0])) <= start)
      &
      (start <= (data1['Pos1'].str.split('-').map(lambda x: float(x[1]))))
     |
     (data1['Pos1'].str.split('-').map(lambda x: float(x[0])) <= end)
      &
      (end <= (data1['Pos1'].str.split('-').map(lambda x: float(x[1]))))
     ]

Empty DataFrame
Columns: [Key, Name, Source, dbSNP, Type, Chr1, Pos1, Chr2, Pos2, Qual1, Qual2, AF1, AF2, Read1, Read2, Gene, Consequence, Impact, Ref1, Alt1, Ref2, Alt2]
Index: []

[0 rows x 22 columns]

In [23]:
# we check if there is any overlap at all
data2[(data2['Pos2'].str.split('-').map(lambda x: float(x[0])) <= start)
      &
      (start <= (data2['Pos2'].str.split('-').map(lambda x: float(x[1]))))
     |
     (data2['Pos2'].str.split('-').map(lambda x: float(x[0])) <= end)
      &
      (end <= (data2['Pos2'].str.split('-').map(lambda x: float(x[1]))))]

Empty DataFrame
Columns: [Key, Name, Source, dbSNP, Type, Chr1, Pos1, Chr2, Pos2, Qual1, Qual2, AF1, AF2, Read1, Read2, Gene, Consequence, Impact, Ref1, Alt1, Ref2, Alt2]
Index: []

[0 rows x 22 columns]

### p = 0.00005

In [24]:
gene_list = [
    'ASCL1', 'ATF6', 'EGR1', 'ESRRA', 'FOXS1', 'GLI1', 'HAND1', 'HESX1',
    'HOXA2', 'HOXA9', 'HOXD8', 'HSFX1', 'KLF8', 'MYBL1', 'MYOD1', 'SOX7',
    'TBX19', 'TCF7L1', 'THRB', 'ZBTB6', 'ZNF213', 'ZNF280A', 'ZNF287',
    'ZNF561', 'ZNF562', 'ZNF582'
]
gene_set = pd.read_csv(
    '../../bitbucket/CNA/data/ref_data/EnsemblGRCh37Genes.tsv', sep='\t')

In [25]:
p5 = gene_set[gene_set['GeneName'].isin(gene_list)].reset_index(drop=True)

In [26]:
df_list = []
for i in range(p5.shape[0]):
    start = float(p5.iloc[i, 3])
    end = float(p5.iloc[i, 4])
    chromosome = 'chr' + str(p5.iloc[i, 2])
    data1 = data[(data['Chr1'] == chromosome)]
    data2 = data[(data['Chr2'] == chromosome)]
    print('checking:', p5.iloc[i, 1], chromosome + ', ', start, end)

    df_list.append(
        data1[(data1['Pos1'].str.split('-').map(lambda x: float(x[0])) <= start)
              & (start <=
                 (data1['Pos1'].str.split('-').map(lambda x: float(x[1]))))
              | (data1['Pos1'].str.split('-').map(lambda x: float(x[0])) <= end)
              & (end <=
                 (data1['Pos1'].str.split('-').map(lambda x: float(x[1]))))])
    df_list.append(
        data2[(data2['Pos2'].str.split('-').map(lambda x: float(x[0])) <= start)
              & (start <=
                 (data2['Pos2'].str.split('-').map(lambda x: float(x[1]))))
              | (data2['Pos2'].str.split('-').map(lambda x: float(x[0])) <= end)
              & (end <=
                 (data2['Pos2'].str.split('-').map(lambda x: float(x[1]))))])

checking: ZNF213 chr16,  3179778.0 3192806.0
checking: ZNF561 chr19,  9715356.0 9732075.0
checking: ZNF562 chr19,  9759330.0 9785776.0
checking: SOX7 chr8,  10581278.0 10697357.0
checking: ZNF287 chr17,  16454701.0 16472520.0
checking: MYOD1 chr11,  17741115.0 17743678.0
checking: ZNF280A chr22,  22868060.0 22874613.0
checking: THRB chr3,  24158651.0 24536773.0
checking: HOXA2 chr7,  27139721.0 27142430.0
checking: HOXA9 chr7,  27202054.0 27210117.0
checking: FOXS1 chr20,  30432103.0 30433420.0
checking: KLF8 chrX,  56258854.0 56314322.0
checking: ZNF582 chr19,  56887413.0 56904914.0
checking: HESX1 chr3,  57231944.0 57260549.0
checking: GLI1 chr12,  57853918.0 57866045.0
checking: ESRRA chr11,  64073044.0 64084215.0
checking: MYBL1 chr8,  67474410.0 67526482.0
checking: TCF7L1 chr2,  85360533.0 85537511.0
checking: ASCL1 chr12,  103351464.0 103354294.0
checking: ZBTB6 chr9,  125670335.0 125675609.0
checking: EGR1 chr5,  137801179.0 137805004.0
checking: HSFX1 chrX,  148855726.0 148858525.0
checking: HAND1 chr5,  153854532.0 153857824.0
checking: ATF6 chr1,  161736084.0 161933860.0
checking: TBX19 chr1,  168250278.0 168283664.0
checking: HOXD8 chr2,  176994422.0 176997423.0

In [27]:
df_combined = pd.concat(df_list)
df_combined

Empty DataFrame
Columns: [Key, Name, Source, dbSNP, Type, Chr1, Pos1, Chr2, Pos2, Qual1, Qual2, AF1, AF2, Read1, Read2, Gene, Consequence, Impact, Ref1, Alt1, Ref2, Alt2]
Index: []

[0 rows x 22 columns]

### p = 0.0001

In [28]:
gene_list = pd.read_csv('./ATRX_TF_0_0001.csv', header=None).iloc[:, 0]

In [29]:
gene_set = pd.read_csv(
    '../../bitbucket/CNA/data/ref_data/EnsemblGRCh37Genes.tsv', sep='\t')
p1 = gene_set[gene_set['GeneName'].isin(gene_list)].reset_index(drop=True)

In [30]:
df_list = []
for i in range(p1.shape[0]):
    start = float(p1.iloc[i, 3])
    end = float(p1.iloc[i, 4])
    chromosome = 'chr' + str(p1.iloc[i, 2])
    data1 = data[(data['Chr1'] == chromosome)]
    data2 = data[(data['Chr2'] == chromosome)]
    print('checking:', p1.iloc[i, 1], chromosome + ', ', start, end)

    df_list.append(
        data1[(data1['Pos1'].str.split('-').map(lambda x: float(x[0])) <= start)
              & (start <=
                 (data1['Pos1'].str.split('-').map(lambda x: float(x[1]))))
              | (data1['Pos1'].str.split('-').map(lambda x: float(x[0])) <= end)
              & (end <=
                 (data1['Pos1'].str.split('-').map(lambda x: float(x[1]))))])
    df_list.append(
        data2[(data2['Pos2'].str.split('-').map(lambda x: float(x[0])) <= start)
              & (start <=
                 (data2['Pos2'].str.split('-').map(lambda x: float(x[1]))))
              | (data2['Pos2'].str.split('-').map(lambda x: float(x[0])) <= end)
              & (end <=
                 (data2['Pos2'].str.split('-').map(lambda x: float(x[1]))))])

checking: ZNF213 chr16,  3179778.0 3192806.0
checking: RFX3 chr9,  3218297.0 3526004.0
checking: ZNF561 chr19,  9715356.0 9732075.0
checking: ZNF562 chr19,  9759330.0 9785776.0
checking: SOX7 chr8,  10581278.0 10697357.0
checking: CASZ1 chr1,  10696661.0 10856707.0
checking: ZNF287 chr17,  16454701.0 16472520.0
checking: MYOD1 chr11,  17741115.0 17743678.0
checking: E2F3 chr6,  20402398.0 20493941.0
checking: ZNF280A chr22,  22868060.0 22874613.0
checking: ZNF70 chr22,  24083769.0 24093279.0
checking: THRB chr3,  24158651.0 24536773.0
checking: HOXA2 chr7,  27139721.0 27142430.0
checking: HOXA9 chr7,  27202054.0 27210117.0
checking: FOXS1 chr20,  30432103.0 30433420.0
checking: PAX6 chr11,  31806340.0 31839509.0
checking: ZBTB12 chrHSCHR6_MHC_QBL,  31857779.0 31860166.0
checking: ZNF567 chr19,  37178514.0 37218603.0
checking: CRX chr19,  48322703.0 48346587.0
checking: GATA1 chrX,  48644962.0 48652716.0
checking: TCF4 chr18,  52889562.0 53332018.0
checking: KLF8 chrX,  56258854.0 56314322.0
checking: ZNF582 chr19,  56887413.0 56904914.0
checking: HESX1 chr3,  57231944.0 57260549.0
checking: GLI1 chr12,  57853918.0 57866045.0
checking: FOXB1 chr15,  60296421.0 60353929.0
checking: ESRRA chr11,  64073044.0 64084215.0
checking: MEIS1 chr2,  66660584.0 66801001.0
checking: MYBL1 chr8,  67474410.0 67526482.0
checking: MYF6 chr12,  81101277.0 81103253.0
checking: TCF7L1 chr2,  85360533.0 85537511.0
checking: ALX1 chr12,  85673885.0 85695562.0
checking: NR2C1 chr12,  95414005.0 95467479.0
checking: ZNF367 chr9,  99148223.0 99180611.0
checking: OSR2 chr8,  99956631.0 99964332.0
checking: ASCL1 chr12,  103351464.0 103354294.0
checking: ZFPM2 chr8,  106330920.0 106816760.0
checking: GLI2 chr2,  121493199.0 121750229.0
checking: ZBTB6 chr9,  125670335.0 125675609.0
checking: PBX3 chr9,  128509624.0 128729656.0
checking: ZNF891 chr12,  133694740.0 133707059.0
checking: EGR1 chr5,  137801179.0 137805004.0
checking: EDF1 chr9,  139756571.0 139760738.0
checking: HSFX1 chrX,  148855726.0 148858525.0
checking: ZNF687 chr1,  151254094.0 151264656.0
checking: HAND1 chr5,  153854532.0 153857824.0
checking: ATF6 chr1,  161736084.0 161933860.0
checking: TBX19 chr1,  168250278.0 168283664.0
checking: HOXD9 chr2,  176987088.0 176989853.0
checking: HOXD8 chr2,  176994422.0 176997423.0

In [31]:
df_combined = pd.concat(df_list)
df_combined

Empty DataFrame
Columns: [Key, Name, Source, dbSNP, Type, Chr1, Pos1, Chr2, Pos2, Qual1, Qual2, AF1, AF2, Read1, Read2, Gene, Consequence, Impact, Ref1, Alt1, Ref2, Alt2]
Index: []

[0 rows x 22 columns]