In [1]:
import pandas as pd

# convert to GISTIC format

## ALT

In [58]:
pannet_alt = pd.read_csv("../data/Alex/copy_number_somatic_mutation_CCpos.tsv",
                         sep='\t')
pannet_alt['num_probes'] = pannet_alt.apply(
    lambda row: (row['end_probe_id'] - row['start_probe_id'] + 1), axis=1)

pannet_alt['chromosome'] = pannet_alt['chromosome'].map(
    lambda x: int(x) if x not in ['X', 'Y'] else 23 if x == 'X' else 24)

In [59]:
pannet_alt = pannet_alt[[
    'icgc_donor_id', 'chromosome', 'chromosome_start', 'chromosome_end','num_probes', 'segment_median'
]].sort_values(by=['icgc_donor_id', 'chromosome','chromosome_start','chromosome_end'])

In [60]:
pannet_alt.head()

,icgc_donor_id,chromosome,chromosome_start,chromosome_end,num_probes,segment_median
9669,DO46751,1,565374,9361576,6903,-0.1768
10105,DO46751,1,9362006,9421359,75,-0.1951
9999,DO46751,1,9421535,13817281,2485,-0.1861
9735,DO46751,1,13818618,14761482,998,-0.1203
9800,DO46751,1,14761504,20797185,5228,-0.1904

In [61]:
df = pannet_alt
to_del = []
for i in range(1, df.shape[0]):
    if int(df.iloc[i, 2]) < int(df.iloc[i - 1, 3]) and df.iloc[
            i, 0] == df.iloc[i - 1, 0] and df.iloc[i, 1] == df.iloc[i - 1, 1]:
        to_del.append(i - 1)
pannet_alt = df.drop(to_del)

In [53]:
pannet_alt.to_csv("../data/Alex/cnv_gistic_pannet_ALT.txt", sep='\t', index=False, header=False)

# TEL

In [63]:
pannet_tel = pd.read_csv("../data/Alex/copy_number_somatic_mutation_CCneg.tsv",
                         sep='\t')
pannet_tel['num_probes'] = pannet_tel.apply(
    lambda row: (row['end_probe_id'] - row['start_probe_id'] + 1), axis=1)

pannet_tel['chromosome'] = pannet_tel['chromosome'].map(
    lambda x: int(x) if x not in ['X', 'Y'] else 23 if x == 'X' else 24)

In [64]:
pannet_tel = pannet_tel[[
    'icgc_donor_id', 'chromosome', 'chromosome_start', 'chromosome_end','num_probes', 'segment_median'
]].sort_values(by=['icgc_donor_id', 'chromosome','chromosome_start','chromosome_end'])

In [65]:
pannet_tel.head()

,icgc_donor_id,chromosome,chromosome_start,chromosome_end,num_probes,segment_median
22452,DO46744,1,1585642,1907739,146,-0.0216
22286,DO46744,1,3406302,3526711,89,-0.0362
22089,DO46744,1,3529946,3558228,33,0.0998
22867,DO46744,1,3558564,3565373,7,0.3237
22876,DO46744,1,8274569,8284645,17,0.2002

In [66]:
df = pannet_tel
to_del = []

for i in range(1, df.shape[0]):
    if int(df.iloc[i, 2]) < int(df.iloc[i - 1, 3]) and df.iloc[
            i, 0] == df.iloc[i - 1, 0] and df.iloc[i, 1] == df.iloc[i - 1, 1]:
        to_del.append(i - 1)
# pannet_tel = df.drop(to_del)

In [55]:
pannet_tel.to_csv("../data/Alex/cnv_gistic_pannet_TEL.txt", sep='\t', index=False, header=False)