# Preprocessing

In [4]:
data = pd.read_csv('/Users/scai/CMRI/immortal/results/ready_for_model/test_3samples.csv')

In [5]:
data

,sample,RP11-54O7.16,RP11-54O7.1,RP11-54O7.2,RP11-54O7.3,SAMD11,AL645608.1,NOC2L,KLHL17,PLEKHN1,...,LINC00960,MIR4273,Y_RNA.585,RP13-644M16.4,RP11-618I10.3,RP11-790I12.1,RP11-790I12.6,RP11-790I12.2,RNU6-973P,y
0,tumor_sample_e6_a1,AMP,AMP,AMP,AMP,AMP,AMP,AMP,AMP,AMP,...,NO_CHANGE,NO_CHANGE,NO_CHANGE,NO_CHANGE,NO_CHANGE,NO_CHANGE,NO_CHANGE,NO_CHANGE,NO_CHANGE,0
1,tumor_sample_402DE,AMP,AMP,AMP,AMP,AMP,AMP,AMP,AMP,AMP,...,NO_CHANGE,NO_CHANGE,NO_CHANGE,NO_CHANGE,NO_CHANGE,NO_CHANGE,NO_CHANGE,NO_CHANGE,NO_CHANGE,0
2,tumor_sample_d2,AMP,AMP,AMP,AMP,AMP,AMP,AMP,AMP,AMP,...,AMP,AMP,AMP,AMP,AMP,AMP,AMP,AMP,AMP,0

In [6]:
# set 1 positive label for test purpose
data.iloc[0,-1]=1

In [7]:
X = data.drop(['sample','y'], axis=1)

In [8]:
X_encode = pd.get_dummies(X)

In [29]:
X_encode

,RP11-54O7.16_AMP,RP11-54O7.1_AMP,RP11-54O7.2_AMP,RP11-54O7.3_AMP,SAMD11_AMP,AL645608.1_AMP,NOC2L_AMP,KLHL17_AMP,PLEKHN1_AMP,C1orf170_AMP,...,RP11-618I10.3_AMP,RP11-618I10.3_NO_CHANGE,RP11-790I12.1_AMP,RP11-790I12.1_NO_CHANGE,RP11-790I12.6_AMP,RP11-790I12.6_NO_CHANGE,RP11-790I12.2_AMP,RP11-790I12.2_NO_CHANGE,RNU6-973P_AMP,RNU6-973P_NO_CHANGE
0,1,1,1,1,1,1,1,1,1,1,...,0,1,0,1,0,1,0,1,0,1
1,1,1,1,1,1,1,1,1,1,1,...,0,1,0,1,0,1,0,1,0,1
2,1,1,1,1,1,1,1,1,1,1,...,1,0,1,0,1,0,1,0,1,0

In [9]:
X_encode.shape

(3, 96204)

In [10]:
y = data['y']

# RF

In [13]:
clf = RandomForestClassifier(oob_score = True)

In [15]:
clf.fit(X_encode, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=True, random_state=None, verbose=0, warm_start=False)

In [16]:
clf.oob_score_

0.6666666666666666

In [23]:
feature_importances = pd.DataFrame(
    clf.feature_importances_, index=X_encode.columns,
    columns=['importance']).sort_values(
        'importance', ascending=False)

In [21]:
feature_importances.iloc[0,0]

0.1

# XGBoost

In [ ]:
xgb = XGBClassifier()